grpc:
  port: ${MVP_PARTY_GRPC_PORT:6566}
logging:
  level:
    cz.tyckouni.mvpgate: debug
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,startup
  tracing:
    sampling:
      probability: 1.0
spring:
  application:
    name: party
  datasource:
    driver-class-name: org.h2.Driver
  graphql:
    graphiql:
      enabled: true
      path: /graphiql
  jpa:
    hibernate:
      ddl-auto: create-drop # temporary for easy development
    open-in-view: false
    properties:
      jakarta:
        persistence:
          sharedCache:
            mode: UNSPECIFIED # fix of hibernate bug